* {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  border:0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: rgb(70, 47, 33);
  color:rgb(164, 190, 224);
  font-family: Arial, sans-serif;
  margin:10px 10px;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  min-width: 1200px;
  overflow: hidden;
}

.menulist {
  display: block;
  overflow: auto;
  margin-bottom: 6px;
  border-bottom: 1px dotted #666;
  width: 100%;
}


.menuitem {
  display: block;
  float: left;
  padding: 2px 6px;
  background-color: #aaa;
  color: #222  !important;
  cursor: pointer;
  margin-right: 5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-radius: 4px;
  text-shadow:  1px 1px 0px #ccc;
  font-size: 14px;
  height: 15px;
  line-height: 1em;
  margin-bottom: 6px;
  font-family: Arial, helvetica, sans-serif;
  font-weight: bold;
}

.menuseparator {
  display: block;
  float: left;
  width: 0px;
  height:16px;
  margin: 2px 7px 0 2px;
  border-left: 1px solid #666;
  border-right: 1px dotted #888;
}

.menubr {
  clear: left;
  display: block;
  float: left;
  width: 0px;
  height: auto;
  padding-top:10px;
}

.break {
  clear: left;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.block {
  display: block;
}

.green {
  color: #8f8;
}

.red {
  background-color: rgb(233, 69, 27);
}

.blue {
  color: #88f;
}

pre {
  font-family: 'Courier New', Courier, monospace;
}

.none {
  display: none!important;
}

.dialog {
    position:absolute;
    display:none;
    background:rgb(187, 167, 138);
    color:#000;
    border-radius:5px;
    box-shadow: 0 0 4px #000;
    border: 2px solid #000;
    overflow:hidden;
    font-size:12px;
    z-index: 1000;
}

#options_dialog {
    top: 34px;
    left:180px;
}

#export_dialog {
    top: 34px;
    left:103px;
    width:580px;
}

#help_dialog {
  top: 34px;
  left:100px;
  width:540px;
}

#export_frame {
  margin: 5px 0;
  width:560px;
  min-height:300px;
}

.dialog_title {
    position:relative;
    width:100%;
    background:rgb(87, 75, 54);
    color:rgb(187, 167, 138);
    text-align: center;
    margin-bottom:5px;
    padding:3px;
    font-weight:bold;
}

.dialog_content {
    padding:10px;
}

.dialog_content h3 {
  margin-bottom: 8px;
}

.dialog_content p {
  margin: 0.3em 0;
}

.dialog_label {
    padding-top:4px;
    display:block;
    float: left;
    width: 120px;
}

.checkbox_label {
  width: auto;
  clear: left;
}

.checkbox_label input {
  display:block;
  float:left;
  margin:0 0.61em 4px 0 !important;
}

fieldset, hr {
  margin-bottom:4px;
}

.dialog_text_input {
    border:1px solid #888;
    padding:2px;
}

.dialog_block {
    display: block;
    float: left;
}

#help_dialog .dialog_block {
width: 240px;
}


.dialog_block:not(:last-child) {
    margin-right:10px;
    padding-right:10px;
    border-right:1px solid #888;
}

.clear_left {
    clear:left;
}

.input_narrow {
    width: 40px;
}

.input_narrows {
    width: 50px;
}

hr {
    border-bottom: 1px dotted #787;
    width:100%;
}

input:disabled {
  opacity: 0.3;
}

#ver {
  font-weight: bolder;
}

.fileinput {
  position: absolute;
  clip: rect( 0, 0, 0, 0 );
}

#main {
  margin-top:10px;
  overflow: auto;
  overflow: visible;
  position: relative;
}

#editor_box {
  position: relative;
  z-index: 500;
  float: left;
}

#dli_box {
  margin-top: -1px;
  position: relative;
  z-index: 600;
  float: left;
  margin-left: 5px;
  width:20px;
  margin-left: 15px;
}

ul.dli_row {
  display: block;
  list-style: none;
  width:20px;
  border-bottom: #000 1px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

ul.dli_row>li {
  list-style: none;
  display: block;
  float: left;
  width: 4px;
  height: 100%;

}

.selectedDli {
  box-shadow: -2px 0 0 rgba(255, 255, 255, 0.7), 2px 0 0 rgba(255, 255, 255, 0.7);
  border-bottom: rgba(255, 255, 255, 0.7) 2px solid!important;
  border-top: rgba(255, 255, 255, 0.7) 2px solid!important;
}

.inRangeDli {
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.6), 1px 0 0 rgba(255, 255, 255, 0.6);
  border-bottom: rgba(255, 255, 255, 0.6) 1px solid!important;
  border-top: rgba(255, 255, 255, 0.6) 1px solid!important;
}


#editor_canvas {  
  position: relative;
  background-color: #000;
  z-index: 450;
}

#color_box {
  position: relative;
  float: left;
  overflow: visible;
  min-width: 300px;
  margin-left: 15px;
}

.colorbox {
  float: left;
  clear: left;
  border-radius: 3px;
  position: relative;
  border-style: solid;
  border-width:1px;
  border-bottom-color:#444;
  border-right-color:#444;
  border-top-color:#888;
  border-left-color: #888;
  width: 132px;
  height: 24px;
  margin-bottom: 4px;
  line-height: 24px;
  font-size: 11px;
  font-weight: 900;
  text-indent: 1em;
  color:#000;
  text-shadow: rgb(255, 255, 255, 0.5) 1px 1px 1px;
  cursor: pointer;
}

.colorboxNarrow {
  width: 61px;
  margin-right: 7px;
}

.follow {
  clear: none;
}

.picker {
  position: absolute;
  border-style: solid;
  border-width:1px;
  border-radius: 3px;
  border-bottom-color:#aaa;
  border-right-color:#aaa;
  border-top-color:#444;
  border-left-color: #444;

  width: 16px;
  height: 14px;
  right:5px;
  top: 4px;
  background-image: url(../img/palette3.png);
  background-size: cover;
}

.colorSelected {
  color:#fff;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  border-bottom-color:#888;
  border-right-color:#888;
  border-top-color:#444;
  border-left-color: #444;
  text-indent: 0.9em;
  box-shadow: 0 0 4px #fff;
}

.palette {
  padding: 3px;
  position: absolute;
  left: 140px;
  top: 0px;
  background-color: #000;
  overflow: auto;
  z-index: 1200;
  margin-left: 5px;
}

.colorCell {
  width: 16px;
  height: 12px;
  float: left;
  margin: 0 0 1px 1px;
  cursor: pointer;
}

.palette_firstinrow {
  clear: both;
}

.cellSelected
{
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 1px solid red;
}

#framepreview {
  clear: left;
}

.framepreview {
  float:left;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
}

#timeline {
  border-top: 1px dotted #666;
  clear: both;
  float:left;
  margin-top: 6px;
  width: 100%;
}

#framelist {
  clear: both;
  float:left;
  background-color:rgb(83, 59, 43);
  min-height: 10px;  
  width: 100%;
  margin:4px 0 6px 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding:2px 0 0 2px;
}

.framebox {
  float: left;
  clear: none;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  background-color:rgb(44, 36, 31);
  color:rgb(58, 98, 114);
  padding:2px 5px 5px 5px;
  margin:0 2px 2px 0;
  cursor: pointer;
}

.framebox>div {
  pointer-events: none; 
}

.framebox>canvas {
  float:left;
  margin:0;
  border: 1px solid black;
  pointer-events: none; 
}

.currentFrame {
  background-color:rgba(255, 255, 255, 0.1)!important;
  color:rgb(91, 155, 180);
}

.inLoop {
  background-color:rgba(255, 255, 255, 0.05);
  color:rgb(91, 155, 180);
}

.inLoop>canvas {
  border: 1px solid rgb(204, 150, 0);
}

.currentFrame>canvas {
  border: 1px solid white;
}

.warn {
  background-color: rgb(243, 191, 174);
}

.donate {
  float:right;  
}

#line_numbers label{
  display: inline;
  float: none;
  margin-left: 20px;
}

#bathub {
  position: absolute;
  top:-3px;
  left:570px;  
  width: 24px;
  height: 24px;
  background-image: url(../img/bathubicon.png);
  background-size: cover;
  box-shadow: 2px 2px 2px #000;
  cursor: pointer;
  opacity: 0.7;
}

.rpad {
  margin-right: 0.5em;
}

.marker {
  background-color: rgba(180, 180, 180, 0.2);
  position: absolute;
  z-index: 500;
  pointer-events: none;
  
}

.shortcut {
  font-weight: 900;
  color: rgb(77, 19, 19);
}

.bmc-btn {
  float:right;
  margin: 2px 8px 0 0;
  min-width: 100px!important;
  padding: 3px 10px!important;
  height: auto!important;
  font-size: 14px!important;
  border-radius: 4px!important;
}

#ppal {
  height: 42px;
  margin-right: -2px;
}

.layer {
  clear: both;
  overflow: auto;
  width: 170px;
}

.layer_default {
  padding: 5px 4px 0px 4px;
  background-color: rgb(97, 68, 49);
  border-radius: 4px;
  margin-bottom: 3px;
}

.layer_hidden {
  opacity: 0.3;
}

.layer_switch {
  float: right;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(124, 90, 67);
  border-radius: 3px;
  border-style: solid;
  border-width:1px;
  border-bottom-color:#444;
  border-right-color:#444;
  border-top-color:#888;
  border-left-color: #888;
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  line-height: 20px;
  font-size: 16px;
  color:#000;
  text-shadow: rgb(255, 255, 255, 0.5) 1px 1px 1px;
  text-align: center; 
  font-weight: 900;
}

.inactive {
  color: #666!important;
  opacity: 0.5!important;
  cursor: default;
}

.active {
  color: rgb(199, 14, 14)!important;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  top: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.288);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

#upload_form {
  width: 200px;
  min-height: 200px;
  background-color: rgb(151, 147, 137);
  padding: 10px 20px;
  float: left;
  margin-right: 20px;
  border-radius: 5px;

  box-shadow: 0 0 4px #000;
  border: 2px solid #000;
  overflow:hidden;
  font-size:12px;
  color:#000;

}

#upload_form textarea {
  height: 6em;
  width: 90%;
}

#listbox {
  display: block;
  overflow: auto;
  float:left 
}

ul#library_list {
  list-style: none;
  display: block;
  overflow: auto;
  margin-top: 3px;
}


ul#library_list>li {
  position: relative;
  display: block;
  list-style: none;
  height: 40px;
  width: 500px;
  cursor: pointer;
  margin-bottom: 4px;
  background-color: rgb(95, 80, 52);
  padding: 4px;
}

.lib {
  float: left;
  font-size: 14px;
}

.lib_name {
  width:250px;
  color: antiquewhite;
  margin-left: 5px;
}

.lib_framecount {
  color: rgba(250, 235, 215, 0.507);
  font-size: 12px;
}

.lib_date {
  margin-left:10px;
  padding-top: 5px;
  font-size: 12px;
}

.lib_author {
  position: absolute;
  top:26px;
  left:270px;
  color: rgb(147, 151, 122);
  font-size: 12px;
}

ul#library_list>li>div>img {
  float: right;
  image-rendering: pixelated;
  border: 1px solid black;
  height: 100%;
  max-width: 80px;
}

.lib_img {
  float: right !important;
  width: 80px;
  height: 38px;
}

#lib_error {
  text-indent: 2em;
  font-size: 18px;
  color: rgb(216, 71, 71);
  font-weight: 700;
}

.pager>div {
  float: left;
  margin-right: 20px;
}

